# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# --- PyCharm & IDEs ---
.idea/
.vscode/
*.swp
*.iml

# --- Data and Backup Folders (Important!) ---
server_files/
backup_storage/
School_Backup/
instance/
logs/
temp/

# --- Files ---
~$*.doc*
~$*.xls*
# Operating system files (technical junk)
.DS_Store
Thumbs.db
desktop.ini

# --- Local databases ---
*.db
*.sqlite
*.sql

# --- Frontend ---
node_modules/
dist/
build/
test_run.py
run_test.py
